.contact {
  background-color: black;
  color: white;
  padding: 35px 30px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h1 {
  text-align: center;
}
h1 img {
  width: 100%;
  height: auto;
}
body {
  background-color: #e6e8da;
}
.background {
  background-color: white;
}
.aboutMe {
  background-color: black;
  color: white;
  padding: 35px 30px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 80px;
}
.wrap {
  background-color: white;
  margin: 30px;
  padding: 10px 10px;
  border-radius: 15px;
}

.portfolio {
  background-color: black;
  color: white;
  padding: 35px 30px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
