.headline {
  background-color: #f5f1fe;
  padding: 35px 30px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
}
.homepage {
  background-color: #f5f1fe;
  padding: 35px 30px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
}

.aboutMe {
  background-color: #f5f1fe;
  padding: 35px 30px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
}
